@media only screen and (max-width: 600px) {
    .main-header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu-container {
        display: none;
    }


    .section--cover {
        flex-direction: column;
        position: relative;
        height: 100vh;
    }
    
    .cover-right {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 1em;
    }
    
    .cover-right__header,
    .cover-right__title  {
        padding: 0;
        margin: 0;
    }
    
    .cover-right__body {
        padding: .5em 0;
    }
    
    .cover-right__link {
        text-decoration: underline;
        color: var(--deco-color);
        font-size: 1rem;
    }
    
    .button-container {
        padding: 3em 0;
    }
    
    
    .social--cover {
        padding: 0;
    }
    
    .figure {
        display: flex;
        align-items: center;
        position: absolute;
        margin: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        opacity: 0.1;
    }

    .cover__img {
        position: absolute;
    }



    .section--about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        background-color: var(--bg-color);
    }
    
    .about__title {
        margin: 0;
    }
    
    .about-card {
        display: flex;
        
        background-color: transparent;
    }
    
    /* .about-card__header {
     
    } */
    
    .about-card__title {
        color: var(--bg-color);
    } 
    
    .about-card__tit {
        color: var(--bg-color);
    }
    
    
    .about-card__desc {
        color: var(--bg-color);
    }
    
    /* .about-card__img {
    } */
    
}