body {
    background: black;
    color: whitesmoke;
    font-family: 'Light';
}

a {
    text-decoration: none;
    color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: var(--primary-color);
    font-family: 'ThinItalic';
}

li {
    display: inline-block;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
} 
