body {
    margin: 0;
    background-color:  var(--bg-color);
    color: whitesmoke;
    font-family: 'Medium';
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

h1 {
    margin: 0;
    line-height: 65px;
    text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: var(--primary-color);
    font-family: 'Light';
}

li {
    display: inline-block;
    padding: .5em;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
} 
