.section--cover,
.cover-right,
.section--about,
.section--portfolio,
.section--contact,
.main-header,
.logo__link,
.footer {
    display: flex;
}

.cover-right,
.figure {
    width: 50%;
    height: 100%;
}

.logo,
.menu-container,
.section--about {
    padding: 1em;
}

/* .about,
.skill,
.portfolio,
.contact,
.footer,
.separator {
    background-color: var(--bg-color);
} */
