.cover,
.cover-left,
.about,
.portfolio,
.contact,
.main-header,
.logo__link,
.footer {
    display: flex;
}

.about-card {
    display: grid;
}

.cover-left,
.figure {
    width: 50%;
    height: 100%;
}

.logo,
.menu-container,
.about {
    padding: 1em;
}

/* .about,
.skill,
.portfolio,
.contact,
.footer,
.separator {
    background-color: var(--bg-color);
} */
