* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
    color: whitesmoke;
}

.header {
    padding: 1em;
    text-align: center;
    background-color: #111;
}

.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 250px;
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
}

circle__big

campana

circle__small