@font-face {
    font-family: 'Salma';
    src: url(/public/assets/fonts/salma-alfasans/SalmaAlfasans-Light.otf);
}
@font-face {
    font-family: 'SalmaItalic';
    src: url(/public/assets/fonts/salma-alfasans/SalmaAlfasans-LightItalic.otf);
}

