<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name ="description" content = "Este es un portfolio wed.">

    <meta name="keywords" content="portfolio, portfolio wed, wed, desarrollo wed, front-end,frontend developer, html5, css3, javascript">

    

    <title>Juan FrontEnd | PortFolio</title>


    <style>
        img {
            width: 300px;
        }
    </style>

</head>

<body>

    <!-- inicio header -->
    <header class="manin-header">
        <!-- logo -->
        <div class="logo">
            <a href="/dev\views\index.html" class="logo__link">JUAN FRONTEND</a>
        </div>
        <!-- nav -->
        <nav class="menu-container">
            <ul class="navbar">
                <li class="navbar__items">
                    <a class="navbar__link" href="#">INICIO</a>
                </li>
                <li class="navbar__items">
                    <a class="navbar__link" href="#">INICIO</a>
                </li>
                <li class="navbar__items">
                    <a class="navbar__link" href="#">INICIO</a>
                </li>
                <li class="navbar__items">
                    <a class="navbar__link" href="#">INICIO</a>
                </li>
                <li class="navbar__items">
                    <a class="navbar__link" href="#">INICIO</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- fin header -->

    <!-- inicio main -->
    <main class="main">
        <!-- inicio portada -->
        <section class="section cover">
            <h1 class="cover__title">
                <span class="cover__hello">hola,</span>
                <br>
                <span class="cover__name"> 
                    soy juan diego mesa lopez
                </span>
                <br>
                <span class="cover-desc__fev">
                    frontend developer
                </span>
                <br>
                <span class="cover-desc__ci">creativo
                    <span class="cover-desc__line">|</span>innovador
                </span>
            </h1>
            <div class="buttons button--contactame">
                <a href="#" class="button__link button__link--contactame">contactame</a>
            </div>
            <!-- social -->
            <nav class="social social--cover">
                <ul class="nav-social nav-social--cover">
                    <li class="nav-social__items nav-social__items--cover">
                        <a href="" class="nav-social__link nav-social__link--cover"></a>
                    </li>
                    <li class="nav-social__items nav-social__items--cover">
                        <a href="" class="nav-social__link nav-social__link--cover"></a>
                    </li>
                    <li class="nav-social__items nav-social__items--cover">
                        <a href="" class="nav-social__link nav-social__link--cover"></a>
                    </li>
                </ul>
            </nav>
        </section>
        <!-- fin portada -->

        <div class="separator"></div>

        <aside></aside>

        <!-- inicio sobre mi -->
        <section class="section about">
            <h2 class="about__title">sobre mi</h2>
            <article class="about-card">
                <header class="about-card__header">
                    <h3 class="about-card__title">¿Qué servicios hago?</h3>
                    <p class="about-card__tit">desarrollo wed</p>
                </header>
                <p class="about-card__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae odit tempore possimus cumque fugiat facere asperiores quasi consectetur at temporibus consequatur, quo alias voluptatum nisi tempora voluptatem deleniti doloremque natus?</p>
            </article>
        </section>
        <!-- fin sobre mi -->

        <div class="separator"></div>

        <!-- inicio habilidades -->
        <section class="section skill">
            <h2 class="skill__title">Conocimientos técnicos y habilidades</h2>
            <article class="skill-card">
                <header class="skil-card__header">
                    <h3 class="skill-card__title">desarrollo wed</h3>
                </header>
                <ul class="skill-card__list">
                    <li class="skill-card__items">Html5</li>
                    <li class="skill-card__items">Ccs3, Flexbox, Css Grid, BEM</li>
                    <li class="skill-card__items">Javascript</li>
                    <li class="skill-card__items">Responsive Web Design (Diseño adaptable)</li>
                    <li class="skill-card__items">Programas: Visual Studio Code, prepos, GitHub Desktop, Balsamiq wireframes</li>
                    <li class="skill-card__items">Control de versiones: Git/GitHub</li>
                </ul>
            </article>
            <article class="skill-card">
                <header class="skil-card__header">
                    <h3 class="skill-card__title">redes sociales</h3>
                </header>
                <ul class="skill-card__list">
                    <li class="skill-card__items">Facebook</li>
                    <li class="skill-card__items">Instagram</li>
                    <li class="skill-card__items">GitHub</li>
                    <li class="skill-card__items">linkedin</li>
                </ul>
            </article>
            <div class="buttons button--cv">
                <a download href="/public/assets/img/undraw_contact_us_-15-o2.svg" class="button__link button__link--cv">descargar-cv</a>
            </div>

        </section>

        <!-- fin habilidades -->

        <div class="separator"></div>

        <!-- inicio portafolio -->
        <section class="section pportfolio">
            <h2>portafolio</h2>
            <div>
                <img src="/public/assets/img/undraw_portfolio_website_lidw.svg" alt="hola">
            </div>
            <div>
                <img src="/public/assets/img/undraw_programming_re_kg9v.svg" alt="j">
            </div>
            <div>
                <img src="/public/assets/img/undraw_contact_us_-15-o2.svg" alt="hg">
            </div>
            <div>
                <img src="/public/assets/img/undraw_developer_activity_re_39tg.svg" alt="yg">
            </div>
        </section>
        <!-- fin portafolio -->

        <div class="separator"></div>

        <!-- inicio contacto -->
        <section class="section contact">
            <h2>contacto</h2>
            <div>
                <img src="/public/assets/img/undraw_portfolio_website_lidw.svg" alt="ggt">
            </div>
            <div>
                <form method="post">
                    <div>
                        <label for="name" >nombre:</label>
                        <br>
                        <input id="name" type="text">
                    </div>
                    <br>
                    <div>
                        <label for="email">email:</label>
                        <br>
                        <input id="email" type="email">
                    </div>       
                    <br>
                    <div>
                        <textarea name="message" id="massage" cols="30" rows="10"></textarea>
                    </div>    
                    <br>
                    <div>
                        <input type="submit">
                    </div>
                </form>
            </div>
        </section>
        <!-- fin contacto -->
    </main>
    <!-- fin main -->

    <!-- inicio footer -->
    <footer class="footer">
        <div class="legal">
            <p class="legal-items">Juan Diego Mesa Lopez - Desarrollador de páginas web</p>
            <p class="legal-items">©2021 -
              Créditos de la web</p>
        </div>

        <article class="contact">
            <header>
              <h3 class="footer-title primary-color">Contacto</h3>
            </header>
            <div class="contact-container">
                <a href="mailto:juandyyy@hotmail.com">juandyyy@hotmail.com</a>
                <a href="tel:+533216948090">+53 321 694 80 90</a>
            </div>
          </article>
        
    </footer>
    <!-- fin footer -->

</body>
</html>