<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <meta property="og:description" content="El sitio wed JUAN FRONTEND es un portafolio wed creado con el proposito de mostrar las habilidades y conocimientos de juan diego mesa lopez como desarrollador front-end.">

    <meta name="description" content="El sitio wed JUAN FRONTEND es un portafolio wed creado con el proposito de mostrar las habilidades y conocimientos de juan diego mesa lopez como desarrollador front-end.">

    <meta name="author" content="Juan Diego Mesa Lopez">

    <meta name="keywords" content="portfolio, portfolio wed, wed, desarrollo wed, front-end,frontend developer, html5, css3, javascript">

    <title>Juan FrontEnd | PortFolio</title>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/98a5bcad5e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/dev/css/styles.css">

</head>

<body>

    <!-- inicio header -->
    <header class="main-header">
        <!-- logo -->
        <div class="logo">
            <a class="logo__link" href="/dev/views/index.html">
                <img class="logo__img" src="/public/assets/logo/jfe.png" alt="">
                JUAN FRONTEND
            </a>
        </div>
        <!-- nav -->
        <nav class="menu-container">
            <ul class="navbar">
                <li class="navbar__items">
                    <a class="navbar__link" href="/dev/views/index.html">INICIO</a>
                </li>
                <li class="navbar__items">
                    <a class="navbar__link" href="#about">SOBRE MI</a>
                </li>
                <li class="navbar__items">
                    <a class="navbar__link" href="#skill">HABILIDADES</a>
                </li>
                <li class="navbar__items">
                    <a class="navbar__link" href="#portfolio">PORTAFOLIO</a>
                </li>
                <li class="navbar__items">
                    <a class="navbar__link" href="#contact">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- fin header -->


    <!-- inicio main -->
    <main class="main">

        <!-- inicio portada -->
        <section class="section cover" id="cover">
            <section class="cover-left">
                <header class="cover-left__header">
                    <h1 class="cover-left__title">Bienvenidos,</h1>
                    <p class="cover-left__desc">este es mi portafolio wed, mi nombre es juan diego mesa lopez soy desarrollador wed beginner con una exelente creatividad. <a class="cover-left__link" href="#about">mas</a></p>
                </header>
                
                <a href="#contact" class="button__link button__link--contact">contactame</a>

                 <!-- social -->
                <nav class="social social--cover">
                    <ul class="nav-social nav-social--cover">
                        <li class="nav-social__items nav-social__items--cover">
                            <a href="" class="nav-social__link nav-social__link--cover">
                                <i class="nav-social__icon fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="nav-social__items nav-social__items--cover">
                            <a href="" class="nav-social__link nav-social__link--cover">
                                <i class="nav-social__icon fab fa-instagram-square"></i>
                            </a>
                        </li>
                        <li class="nav-social__items nav-social__items--cover">
                            <a href="" class="nav-social__link nav-social__link--cover">
                                <i class="nav-social__icon fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
            
            <figure class="figure">
                <img class="cover__img" src="/public/assets/img/undraw_programming_re_kg9v.svg" alt="image">
            </figure>

           
        </section>
        <!-- fin portada -->


        <aside></aside>

        <!-- inicio sobre mi -->
        <section class="section about" id="about">
            <h2 class="about__title">sobre mi</h2>
            <article class="about-card">
                <header class="about-card__header">
                    <h3 class="about-card__title">¿Qué servicios hago?</h3>
                    <p class="about-card__tit">desarrollo wed</p>
                </header>
                <p class="about-card__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae odit tempore possimus cumque fugiat facere asperiores quasi consectetur at temporibus consequatur, quo alias voluptatum nisi tempora voluptatem deleniti doloremque natus?</p>
                <img class="about-card__img" src="/public/assets/img/undraw_profile_re_4a55.svg" alt="">
            </article>
        </section>
        <!-- fin sobre mi -->

        <!-- inicio habilidades -->
        <section class="section skill" id="skill">
            <h2 class="skill__title">Conocimientos técnicos y habilidades</h2>
            <article class="skill-card skill-card--dwed">
                <header class="skil-card__header">
                    <h3 class="skill-card__title">desarrollo wed</h3>
                </header>
                <ul class="skill-card__list">
                    <li class="skill-card__items">Html5</li>
                    <li class="skill-card__items">Ccs3, Flexbox, Css Grid, BEM</li>
                    <li class="skill-card__items">Javascript</li>
                    <li class="skill-card__items">Responsive Web Design (Diseño adaptable)</li>
                    <li class="skill-card__items">Programas: Visual Studio Code, prepos, GitHub Desktop, Balsamiq wireframes</li>
                    <li class="skill-card__items">Control de versiones: Git/GitHub</li>
                </ul>
            </article>
            <article class="skill-card skill-card--rsocial">
                <header class="skil-card__header">
                    <h3 class="skill-card__title">redes sociales</h3>
                </header>
                <ul class="skill-card__list">
                    <li class="skill-card__items">Facebook</li>
                    <li class="skill-card__items">Instagram</li>
                    <li class="skill-card__items">GitHub</li>
                    <li class="skill-card__items">linkedin</li>
                </ul>
            </article>
            <a download href="/public/assets/FOV/public/assets/img/undraw_contact_us_-15-o2.svg" class="button__link button__link--cv">descargar-cv</a>

        </section>

        <!-- fin habilidades -->

        
        <!-- inicio portafolio -->
        <section class="section portfolio" id="portfolio">
            <h2>portafolio</h2>
            <div class="portafolio__content">
                <img class="portfolio__img" src="/public/assets/img/undraw_portfolio_website_lidw.svg" alt="hola">
            </div>
            <div class="portafolio__content">
                <img class="portfolio__img" src="/public/assets/img/undraw_programming_re_kg9v.svg" alt="j">
            </div>
            <div class="portafolio__content">
                <img class="portfolio__img" src="/public/assets/img/undraw_contact_us_-15-o2.svg" alt="hg">
            </div>
            <div class="portafolio__content">
                <img class="portfolio__img" src="/public/assets/img/undraw_developer_activity_re_39tg.svg" alt="yg">
            </div>
        </section>
        <!-- fin portafolio -->


        <!-- inicio contacto -->
        <section class="section contact" id="contact">
            <h2 class="contact__title">contacto</h2>
            <div class="img__container">
                <img class="contact__img" src="/public/assets/img/undraw_portfolio_website_lidw.svg" alt="ggt">
            </div>
            <div class="form-container">
                <form class="form" id="form" method="post">

                    <fieldset class="fieldset">
                        <legend class="legend">
                            contacto
                        </legend>
                        <div class="name">
                            <label class="labelname" for="name" >nombre:</label>
                            <br>
                            <input 
                            id="name" type="text" 
                            placeholder="lionel andres messi puchetini" name="name">
                        </div>
                        <br>
                        <div class="email">
                            <label class="labelemail" for="email">email:</label>
                            <br>
                            <input 
                            id="email" type="email" placeholder="example@gmail.com" name="email">
                        </div>       
                        <br>
                        <div class="message">
                            <textarea name="message" id="massage" cols="30" rows="10" placeholder="mensaje"></textarea>
                        </div>    
                        <br>
                        <div>
                            <input type="submit">
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
        <!-- fin contacto -->
    </main>
    <!-- fin main -->

    <!-- inicio footer -->
    <footer class="footer">
        <div class="legal">
            <p class="legal-items">Juan Diego Mesa Lopez - Desarrollador de páginas web</p>
            <p class="legal-items">©2021 -
              Créditos de la web</p>
        </div>

        <div class="contact__footer">
            <h3 class="footer-title primary-color">Contacto</h3>
            <div class="contact-container">
                <a href="mailto:juandyyy@hotmail.com">juandyyy@hotmail.com</a>
                <a href="tel:+533216948090">+53 321 694 80 90</a>
            </div>
          </a>
        
    </footer>
    <!-- fin footer -->

</body>
</html>